# API Keys
API_KEY=your_Gemini_api_key_here
API_KEY_2=your_second_Gemini_api_key_here

# AWS Configuration
aws_access_key_id=aws_access_key_id_here
aws_secret_access_key=aws_secret_access_key_here
region=ap-south-1
aws_bucket_name=ai-powered-resume-screening-system-bucket

# JWT
JWT_SECRET=shared_jwt_secret_here

# Custom Configuration
threshold=your_threshold_value_here  # Example: 50
